.red{
    width: 100%;
    height: 100vh;
    display: block;
    position: static;
    z-index: 1;
    background: #e7dbfd;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.podlozka{
    background-color: #8d5be0;
}