.nawaboutus{
    background-color: #7f42e1;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -102;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nawaboutus_back{
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}


.nawaboutus_text_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    bottom: 52vh;
}

.nawaboutus_text{
    font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  /* color:#e7dbfd; */
  color:white;
  position: absolute;
}

.nawaboutus_pusAvtor{
    width: 15vw;
}
.nawaboutus_pusText{
    width: 10vw;
}

.nawaboutus_picAvtor{
    width: 15vw;
}
.nawaboutus_picText{
    width: 10vw;
}
.nawaboutus_kartinas2{
    position: absolute;
    top:2vw;
    right: 2vw;
}
.nawaboutus_kartinas1{
    position: absolute;
    top:2vw;
    left: 2vw;
}

.nawaboutus_kartinas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nawaboutus_cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.nawaboutus_piture{
    position: absolute;
    bottom: 2vh;
    display: block;
        width: 90vw;
        height: 8vw;
        object-fit: cover;
        object-position: center;
}

@media (max-width:1350px){
    .nawaboutus_pusAvtor{
        width: 18vw;
    }
    .nawaboutus_pusText{
        width: 15vw;
    }
    
    .nawaboutus_picAvtor{
        width: 18vw;
    }
    .nawaboutus_picText{
        width: 15vw;
    }

    .nawaboutus_text{
        font-size: 4vw;
    }
    .nawaboutus_text_box{
        bottom: 45vh;
    }
}

@media (max-width:900px){
    .nawaboutus_piture{
        height: 18vh;
    }

    .nawaboutus_text{
        font-size: 5.3vw;
    }
    .nawaboutus_kartinas2{
        right: 6vw;
    }
    .nawaboutus_kartinas1{
        left: 6vw;
    }
}

@media (max-width:730px){
    .nawaboutus_pusAvtor{
        width: 24vw;
    }
    .nawaboutus_pusText{
        width: 15vw;
    }
    
    .nawaboutus_picAvtor{
        width: 24vw;
    }
    .nawaboutus_picText{
        width: 15vw;
    }

    .nawaboutus_kartinas2{
        top: 5vw;
    }
    .nawaboutus_kartinas1{
        top: 5vw;
    }
}

@media (max-width:600px){
    .nawaboutus_kartinas2{
        right: 10vw;
    }
    .nawaboutus_kartinas1{
        left: 10vw;
    }

    .nawaboutus_pusAvtor{
        width: 30vw;
    }
    .nawaboutus_pusText{
        width: 20vw;
    }
    
    .nawaboutus_picAvtor{
        width: 30vw;
    }
    .nawaboutus_picText{
        width: 20vw;
    }

    .nawaboutus_text{
        line-height: 1.8;
    }
}

@media (max-width:450px){
    .nawaboutus_text{
        font-size: 5.4vw;
    }

    .nawaboutus_kartinas2{
        top: 15vw;
    }
    .nawaboutus_kartinas1{
        top: 15vw;
    }

    .nawaboutus_pusAvtor{
        width: 35vw;
    }
    
    .nawaboutus_picAvtor{
        width: 35vw;
    }

    .nawaboutus_piture{
        bottom: 5vh;
    }
}