.nawaboutus{
    background-color: #7f42e1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.nawaboutus_back{
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.nawaboutus_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nawaboutus_center_text{
    color: #e7dbfd;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.5;
}

.nawaboutus_left{
    position: relative;
}

.nawaboutus_right{
    position: relative;
}

.nawaboutus_img_1{
    width: 250px;
    position: absolute;
    display: block;
    transform: rotate(29deg);
    bottom: 14vh;
    left: 11vw;
}

.nawaboutus_img_4{
    width:250px;
    position: absolute;
    display: block;
    transform: rotate(331deg);
    top: 8vh;
    right: 13vw;
}

.nawaboutus_img_2{
    position: absolute;
    display: block;
    top: 11vh;
    /* right: 3vw; */
}

.nawaboutus_img_3{
    position: absolute;
    display: block;
    bottom: 11vh;
}

.nawaboutus_mobileimg_container{
    display: none;
}


@media (max-width:1178px){
    .nawaboutus{
        grid-template-columns: 1fr 4fr 1fr;
    }
    .nawaboutus_img_2{
        width:13vw;
        top: 7vh;

    }
    .nawaboutus_img_3{
        width:13vw;
    }
}

@media (max-width:780px){
    .nawaboutus{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .nawaboutus_img_2_mobile{
        width: 26.5vw;
    }
    .nawaboutus_img_4_mobile{
        width: 26.5vw;
    }

    .nawaboutus_img_1_mobile{
        width: 26vw;
        transform: rotate(-45deg);
        position: absolute;
        left:-8vw;
        top:-2vw;

    }
    .nawaboutus_img_3_mobile{
        width: 26vw;
        transform: rotate(-45deg);
        position: absolute;
        left:-8vw;
        top:2vw;
    }
    
    .nawaboutus_left{
        display: none;
    }
    .nawaboutus_right{
        display: none;
    }
    .nawaboutus_mobileimg_container{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-evenly
    }

    .nawaboutus_mobileimg_container_block1{
        position: relative;
    }
    .nawaboutus_mobileimg_container_block2{
        position: relative;
    }

    .nawaboutus_center{
        margin: 0 10vw;
    }
}

@media (max-width:646px){
    .nawaboutus{
        grid-template-rows: 2fr 1fr;
    }

    .nawaboutus_img_2_mobile{
        width: 35vw;
    }
    .nawaboutus_img_4_mobile{
        width: 35vw;
    }
    
    .nawaboutus_center_text{
        font-size:25px;
    }

    .nawaboutus_mobileimg_container_block2{
        display: none;
    }

    .nawaboutus_img_2_mobile{
        width: 40vw;
    }
    /* .nawaboutus_mobileimg_container{
        transform: translateY(8vh)
    } */
}

@media (max-width:548px){
    .nawaboutus_center_text{
        font-size:23px;
    }
}

@media (max-width:500px){
    .nawaboutus_img_2_mobile{
        width: 50vw;
    }
    .nawaboutus_center_text{
        font-size:21px;
    }
}

@media (max-width:431px){
    .nawaboutus_img_2_mobile{
        width: 60vw;
    }
    .nawaboutus_img_1_mobile{
        width: 40vw;
        left: -15vw;
    }

    .nawaboutus{
        height: 90vh;
    }
    .nawaboutus_back{
        height: 90vh;
    }
}