.podlozka_cdek {
  /* background: #e7dbfd; */
  position: sticky;
  background-color: #7f42e1;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  top: -20px;
  z-index: -98;
  

}

.cdek{
  
    width:100%;
    height:100vh;
    position: relative;
}

.cdek_main {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr; */
}

.cdek_bg{
  opacity: 0.2;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
    position: absolute;
    z-index: 2;
      top:0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
}

.cdek_doroga{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 1vw;
}

.cdek_doroga_car{
  width:150px;
}

.cdek_text{
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  color: white;
  font-size: 2.7vw;
  
}
.cdek_text_block{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdek_kovri{
  width:100%;
  height: 100vh;
 position: absolute;
 top: 0;
 left:0;
}

.cdek_kovri_img1{
  display: block;
  z-index: 4;
  height: 15vw;
  position: absolute;
  bottom: 2.5vw;
  left:2.5vw;
}

.cdek_kovri_img2{
  display: block;
  z-index: 4;
  height: 15vw;
  position: absolute;
  bottom: 2.5vw;
  right:2.5vw;
}

.cdek_angle{
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: -90px;
  left: -90px;
  width: 60%;
  border-top-left-radius: 24px;
  transform: rotate(-45deg);
}

/* .cdek_kovri_img3{
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  bottom: 0vw;
  right:0vw;
} */


@media (max-width:1060px){
  .cdek_kovri_img1{
    height: 27vh;
    bottom: 7vw;
  left:7vw;
  }
  
  .cdek_kovri_img2{
    height: 27vh;
  bottom: 7vw;
  right:7vw;
  }

  .cdek_text{
    font-size: 3.2vw;
  }
}

@media (max-width:860px){
  /* .cdek_angle{
    width:40vw;
  } */

  .cdek_kovri_img1{
    height: 27vh;
    
  }
  
  .cdek_kovri_img2{
    height: 27vh;
    
  }

  .cdek_text{
    font-size: 3.7vw;
  }
}

@media (max-width:570px){
  /* .cdek_angle{
    width:45vw;
  } */

  .cdek_text{
    font-size: 4.5vw;
  }
  .cdek_kovri_img1{
    height: 20vh;
    bottom: 7vw;
  left:7vw;
  }
  
  .cdek_kovri_img2{
    height: 20vh;
  bottom: 7vw;
  right:7vw;
  }
}

@media (max-width:455px){
  .cdek_kovri{
    height: 60vh;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
  .cdek_kovri_img1{
    height: 35vw;
    width: auto;
    position: static;
  }
  
  .cdek_kovri_img2{
    height: 45vw;
    width: auto;
    position: static;
  }

.cdek_text_block{
  height: 25vh;
}

.cdek_text{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

/* # */
/* #F4EBD9 */