body{
    margin: 0;
    padding: 0;
    background-color: white;
    /* font: 1em "Fira Sans", sans-serif; */
}

.none{
    display: none;
}

li{
    list-style-type: none;
}
ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.App{
    display: block;
    position: relative;
    /* background-color: aquamarine; */
    /* min-height: 200vh; */
    font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    position: sticky;
    top:-100px;
    z-index: 2;
}

@media (max-width:840px){
    .navbar{
        top:-150px;
    }
}