body{
    margin: 0;
    padding: 0;
    background-color: white;
    /* font: 1em "Fira Sans", sans-serif; */
}

.none{
    display: none;
}

li{
    list-style-type: none;
}
ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.App{
    display: block;
}

.navbar{
    position: sticky;
    top:-80px;
    z-index: -1;
}